
  <div class="row-fluid">
    <div class="span12 box">
      <div class="box-content">
        <h4 class="text-contrast"> <%= t'.ci' %></h4>
        <p><%= @person.ci %></p>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12 box">
      <div class="box-content">
        <h4 class="text-contrast"> <%= t'.first_name' %></h4>
        <p><%= @person.first_name %></p>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12 box">
      <div class="box-content">
        <h4 class="text-contrast"> <%= t'.last_name' %></h4>
        <p><%= @person.last_name %></p>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12 box">
      <div class="box-content">
        <h4 class="text-contrast"> <%= t'.last_name2' %></h4>
        <p><%= @person.last_name2 %></p>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12 box">
      <div class="box-content">
        <h4 class="text-contrast"> <%= t'.alias' %></h4>
        <p><%= @person.alias %></p>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12 box">
      <div class="box-content">
        <h4 class="text-contrast"> <%= t'.birth_date' %></h4>
        <p><%= @person.birth_date %></p>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12 box">
      <div class="box-content">
        <h4 class="text-contrast"> <%= t'.originative' %></h4>
        <p><%= @person.originative %></p>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12 box">
      <div class="box-content">
        <h4 class="text-contrast"> <%= t'.genre' %></h4>
        <p><%= @person.genre %></p>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12 box">
      <div class="box-content">
        <h4 class="text-contrast"> <%= t'.record' %></h4>
        <p><%= @person.record %></p>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12 box">
      <div class="box-content">
        <h4 class="text-contrast"> <%= t'.profession' %></h4>
        <p><%= @person.profession %></p>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12 box">
      <div class="box-content">
        <h4 class="text-contrast"> <%= t'.observations' %></h4>
        <p><%= @person.observations %></p>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12 box">
      <div class="box-content">
        <h4 class="text-contrast"> <%= t'.status' %></h4>
        <p><%= @person.status.description %></p>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12 box">
      <div class="box-content">
        <h4 class="text-contrast"> <%= t'.registered_from' %></h4>
        <p><%= @person.registered_from %></p>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12 box">
      <div class="box-content">
        <h4 class="text-contrast"> <%= t'.searchable' %></h4>
        <p><%= @person.searchable %></p>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12 box">
      <div class="box-content">
        <h4 class="text-contrast"> <%= t'.visible' %></h4>
        <p><%= @person.visible %></p>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12 box">
      <div class="box-content">
        <h4 class="text-contrast"> <%= t'.hide_reason' %></h4>
        <p><%= @person.hide_reason %></p>
      </div>
    </div>
  </div>
  <%= render "layouts/action_links" %>