<%%= form_for(@<%= singular_table_name %>) do |f| %>
<%% if @<%= singular_table_name %>.errors.any? %>
<div id="error_explanation">
  <%% @person.errors.full_messages.each do |msg| %>
  <div class="alert alert-error">
    <a class="close" data-dimiss="alert" href="#">&times;</a>
    <div><%%= msg %></div>
  </div>
  <%% end %>
</div>
<%% end  %>
<% attributes.each do |attribute| -%>
    <% if attribute.field_type == :date_select %>
        <div id="datepicker" class="datepicker input-append">
          <%%= f.label :<%= attribute.name %>, :class => "control-label" %>
          <%%= f.text_field  :<%= attribute.name %>, :data => {:format => "yyyy-MM-dd"}    %>
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar" class="icon-calendar"></i>
      </span>
        </div>
    <% elsif attribute.field_type == :text_area %>
        <p class="control-group">
          <%%= f.label :<%= attribute.name %>, :class => "control-label" %>
          <%%= f.<%= attribute.field_type %> :<%= attribute.name %>, :class=>"input-block-level", :size => "10x5"%>
        </p>
    <% else %>
        <p class="control-group">
          <%%= f.label :<%= attribute.name %>, :class => "control-label" %>
          <%%= f.<%= attribute.field_type %> :<%= attribute.name %>, :class=>"input-block-level" %>
        </p>
    <% end -%>
<% end -%>
<div class="form-actions">
  <%%= f.submit nil, :class => 'btn btn-primary' %>
</div>

<%% end %>
