
  <div class="row-fluid">
    <div class="span12 box">
      <div class="box-content">
        <h4 class="text-contrast"> <%= t'.brand' %></h4>
        <p><%= @vehicle.brand %></p>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12 box">
      <div class="box-content">
        <h4 class="text-contrast"> <%= t'.line' %></h4>
        <p><%= @vehicle.line %></p>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12 box">
      <div class="box-content">
        <h4 class="text-contrast"> <%= t'.model' %></h4>
        <p><%= @vehicle.model %></p>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12 box">
      <div class="box-content">
        <h4 class="text-contrast"> <%= t'.plate' %></h4>
        <p><%= @vehicle.plate %></p>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12 box">
      <div class="box-content">
        <h4 class="text-contrast"> <%= t'.serial_number' %></h4>
        <p><%= @vehicle.serial_number %></p>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12 box">
      <div class="box-content">
        <h4 class="text-contrast"> <%= t'.color' %></h4>
        <p><%= @vehicle.color %></p>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12 box">
      <div class="box-content">
        <h4 class="text-contrast"> <%= t'.stolen' %></h4>
        <p><%= @vehicle.stolen %></p>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12 box">
      <div class="box-content">
        <h4 class="text-contrast"> <%= t'.status' %></h4>
        <p><%= @vehicle.status %></p>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12 box">
      <div class="box-content">
        <h4 class="text-contrast"> <%= t'.person' %></h4>
        <p><%= @vehicle.person_id %></p>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12 box">
      <div class="box-content">
        <h4 class="text-contrast"> <%= t'.registered_from' %></h4>
        <p><%= @vehicle.registered_from %></p>
      </div>
    </div>
  </div>
  <%= render "layouts/action_links" %>